@import url('style.css');

body {
  background-color: var(--primary-color);
}

header {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/back.webp");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: calc(60vw * 0.75);
  min-height: 50vh;
  max-height: 80vh;
  object-fit: cover;
}

header .hero {
  margin-top: 15vh;
}

header .timer,
header .title {
  display: flex;
  justify-content: center;
  font-size: calc(1 * 1.5vw + 2rem);
  ;
  margin-top: 50px;
  text-align: center;
}

header .button {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin: 40px 0;
}

header .button button {
  padding: 18px 25px;
  border-radius: 7px;
  border: none;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.2 * 1vw + 2rem);
  height: 20vh;
  font-style: italic;
  text-align: center;
}

.video-section iframe {
  width: 100%;
  height: calc(100vw * 9 / 16);
}

@media (max-width: 767px) {
  header {
    height: 70vh;
  }
}