@import url('style.css');

body {
  color: #000;
}

.txt {
  text-align: center;
  margin: 5vh 0;
}

a {
  color: #000;
}

.logo-grid {
  margin: 10vh 0;
}

.logo-grid ul {
  display: grid;
  list-style: none;
  grid-gap: 100px 100px;
  margin: 0 7vw;
  justify-content: center;
}

.name {
  font-size: 1.4rem;
}

.logo-grid ul li {
  text-align: center;
  width: 250px;
}

@media screen and (min-width: 576px) {
  .logo-grid ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {
  .logo-grid ul {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1100px) {
  .logo-grid ul {
    grid-template-columns: repeat(4, 1fr);
  }
}

.logo-grid p {
  margin-top: 15px;
}

.logo-grid img {
  width: 250px;
  height: 250px;
  display: block;
  border-radius: 50%;
}